{% extends './common/base.html' %}

{% load static %}

{% block contents %}

    <h1 class="page-header">Books</h1>

    <p>
        <button class="btn btn-primary js-create-book" type="button">
            <span class="glyphicon glyphicon-plus"></span>
            New book
        </button>
    </p>

    <table class="table" id="book-table">
        <thead>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th>Type</th>
            <th>Publication date</th>
            <th>Pages</th>
            <th>Price</th>
        </thead>

        <tbody>
            {% include 'book/include/partial_book_list.html' %}
        </tbody>
    </table>

    <div class="modal fade" id="modal-book">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock%}

{% block javascript %}
<script src="{% static 'js/book.js' %}"></script>
{% endblock %}