{% load static%}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bookstore</title>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.css'%}">
</head>
<body>
    {% include './include/header.html' %}
    <div class="container">
        {% block contents %}
        {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.js' %}"></script>

    {% block javascript %}
    {% endblock %}
</body>
</html>