{% for book in books %}
    <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.get_book_type_display }}</td>
        <td>{{ book.publication_date }}</td>
        <td>{{ book.pages }}</td>
        <td>{{ book.price }}</td>
        <td>
            <button type="button" class="btn btn-warning btn-sm js-update-book" data-url="{% url 'book:book_update' pk=book.id %}">
                <span class="glyphicon glyphicon-pencil">Edit</span>
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td class="text-center bg-warning" colspan="7">No book</td>
    </tr>
{% endfor%}