{% for book in books %}
    <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.get_book_type_display }}</td>
        <td>{{ book.publication_date }}</td>
        <td>{{ book.pages }}</td>
        <td>{{ book.price }}</td>
        <td>
            <button type="button"
                    class="btn btn-warning btn-sm js-update-book"
                    data-url="{% url 'book:book_update' pk=book.id %}">
                <span class="glyphicon glyphicon-pencil">Edit</span>
            </button>
            <button type="button" class="btn btn-danger btn-sm js-delete-book"
                    data-url="{% url 'book:book_delete' pk=book.id %}">
                <span class="glyphicon glyphicon-trash"></span>Delete
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td class="text-center bg-warning" colspan="8">No book</td>
    </tr>
{% endfor%}